.register-container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #f7f9fc;
    border-radius: 20px;
  
    .register-form {
      width: 400px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      .header h1 {
        text-align: center;
        color: #333;
      }
  
      h3 {
        text-align: center;
        font-weight: 400;
        color: #555;
      }
  
      form {
        .form-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-weight: 500;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
  
          .password-container {
            position: relative;
  
            button.toggle-visibility {
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              background: none;
              border: none;
              cursor: pointer;
            }
  
            fa-icon {
              font-size: 16px;
            }
          }
  
          .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
          }
        }
  
        .register-button {
          width: 100%;
          padding: 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-weight: 600;
  
          &:hover {
            background-color: #0056b3;
          }
  
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
      }
  
      .footer {
        text-align: center;
        margin-top: 10px;
  
        a {
          color: #007bff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
  
          &.highlight-a {
            color: #ff6347;
            font-weight: bold;
          }
        }
      }
    }
  
    
      img {
        max-width: 800px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
  }
  