image: node:18

stages:
  - setup
  - test

setup:
  stage: setup
  script:
    - if [ -f "frontend/package.json" ]; then cd frontend; fi
    - npm ci  # Instala as dependências
  cache:
    key: "npm-cache-${CI_COMMIT_REF_SLUG}"
    paths:
      - frontend/node_modules/

test:
  stage: test
  script:
    - if [ -f "frontend/package.json" ]; then cd frontend; fi
    - npm audit fix --force
    - export FIREFOX_BIN="/usr/bin/firefox"  # Variável de ambiente para o Firefox
    - echo "Executando testes com Firefox..."
    - ./node_modules/.bin/ng test --watch=false --browsers=FirefoxHeadless
  dependencies:
    - setup
  artifacts:
    when: always