<div class="login-container">
  <div class="login-form">
    <div class="header">
      <h1>EXAMPLE UNIVERSITY</h1>
    </div>
    <h3>Welcome! Please use the same credentials you use on the Portal.</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input
          type="text"
          id="login"
          placeholder="Enter your login"
          formControlName="login"
        />
        <div
          *ngIf="
            loginForm.get('login')?.invalid && loginForm.get('login')?.touched
          "
        >
          <small class="error">Login is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          />
          <button
            type="button"
            class="toggle-visibility"
            (click)="togglePasswordVisibility()"
          >
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <small class="error">Password is required</small>
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
    <div class="footer">
      <a href="#">Forgot password</a>
      <br />
      <a [routerLink]="'/signup'" class="highlight-a">
        Don't have an Account? Register here!
      </a>
      
    </div>
  </div>
  <div class="login-image">
    <img src="assets/image.jpg" alt="Login Illustration" />
  </div>
</div>
