@import "../../../styles/variables.scss";

.dashboard {
  display: flex;

  .main-content {
    flex: 1;
    background: #ecf0f1;
    padding: 20px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
      }

      .logout-btn {
        background: #e74c3c;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background 0.3s ease;

        &:hover {
          background: #c0392b;
        }
      }
    }

    .start-course-btn {
      background: linear-gradient(135deg, #105d4d, #1abc9c);
      color: #ffffff;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      display: inline-block;
      margin: 10px 0;

      &:hover {
        background: linear-gradient(135deg, #16a085, #1abc9c);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(26, 188, 156, 0.4);
      }

      &:active {
        background: linear-gradient(135deg, #1abc9c, #16a085);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        transform: translateY(0);
      }
    }

    .activities,
    .formations {
      margin-bottom: 30px;

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
      }

      .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Corrigido para auto-fill
        gap: 20px; // Espaçamento uniforme
        margin-top: 10px;
        align-items: start; // Alinhamento consistente para os cartões
      }

      .card {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 100%; // Garante que ocupe o espaço da coluna da grade
        height: 350px; // Define altura fixa
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        img {
          max-width: 100%;
          max-height: 150px;
          object-fit: contain;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 16px;
          margin-bottom: 10px;
          color: #34495e;
        }

        p {
          font-size: 14px;
          color: #7f8c8d;
        }
      }

      @media (max-width: 768px) {
        .card-container {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Ajuste para telas menores
        }

        .card {
          height: 300px; // Altura reduzida para dispositivos menores
        }
      }

      @media (max-width: 480px) {
        .card-container {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Uma coluna em dispositivos muito pequenos
        }

        .card {
          height: 250px; // Altura reduzida ainda mais para telas pequenas
        }
      }
    }
  }
}
